<div class="container">
  <div class="row">
    
     <div class="col-md-6">

      <h1 class="form-signin-heading">Your profile</h1>

      <div class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Full name</label>
          <p class="form-control-static">{{ loggedUser?.fullName }}</p>
        </div>
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <p class="form-control-static">{{ loggedUser?.email }}</p>
        </div>
      </div>
      <h4>Bought gifts:</h4>
      <div *ngFor="let gift of gifts" className="product-listing" >
        <div className="product-list-item" width="200px">
          <h3>Name: {{gift.name}}</h3>
          <div> <img  height="100px" src={{gift.imgurl}} /></div>
          <div class="clear">Price: {{gift.price}}</div>
          <div class="clear"><button mat-icon-button (click)="openDialog(gift)"><mat-icon>search</mat-icon></button></div>
         
        </div>  
    </div>

    </div>

  </div>
</div>