<div class="container">

    <form (ngSubmit)="onSubmit()">
      <div>
        <label for="name">Name</label>
        <input type="text" [(ngModel)]="newGift.name" name="name" required>
      </div>

      <div>
        <label for="category">Category</label>
        <input type="text" [(ngModel)]="newGift.category" name="category" required>
      </div>

      <div>
        <label for="description">description</label>
        <input type="text" [(ngModel)]="newGift.description" name="description" >
      </div>
      <div>
          <label for="price">Price</label>
          <input type="number" [(ngModel)]="newGift.price" name="price" required>
      </div>
      <div>
          <label for="discount">Discout</label>
          <input type="number" [(ngModel)]="newGift.discount" name="discount">
      </div>
      <div>
          <label for="imgurl">Image url</label>
          <input type="text" [(ngModel)]="newGift.imgurl" name="imgurl" >
      </div>
      <div>
          <label for="inStock">Available: </label>
          <select [(ngModel)]="newGift.inStock" name = "inStock" >

              <option value="true">Yes</option>
              <option value="false">No</option>
              
  
          </select>
      </div>

      <button type="submit">Submit</button>

    </form>
</div>